body{
    margin: 0;
    display: flex;
}
.menu{
    width: 150px;
    height: 935px;
    background: #191718;
    color: #5C5C5C;
    list-style: none;
    padding-top: 35px;
}
.menu > li{
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid #5C5C5C;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
  
}
.menu li > img{
    margin-left: 60px;
    margin-top: 10px;
    width: 15px;
    height: 22px;
    border: 1px solid;
    background-color: #191718;
    
    
}
.content{
    width: 1768px;
    height: 935px;
}
.content > h1{
    display: flex;
    justify-content: center;
}
.text{
    margin: auto;
    padding: 35px;
    width: 1510px;
    height: 120px;
    background-color: #EFEFEF;
    font-family: 'Roboto';
}
.text p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 173px;

}
.column{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20px;

}
.Group1{
    width: 470px;
    height: 252px;
    font-size: 16px;
    font-weight: 400;
   
}
.Group1 #heading{
    margin-top: 0px;
    font-weight: 700;
    font-size: 24px;
}
ul{
    margin-top: -15px;
    padding-left: 10px;
    display: flex;
    list-style: none;
}
.footer{
    margin-top: 235px;
    height: 79px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-weight: 400;
    border-top: 1px solid #c2c2c2;
    font-size: 16px;
    color: #3E3E3E;

}