body{
    margin: 0;
    display: flex;
    width: 1918px;
    height: 935px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu{
    width: 150px;
    height: 935px;
    background: #191718;
    color: #5C5C5C;
    list-style: none;
    padding-top: 10px;
}
.menu > li{
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid #5C5C5C;
    font-size: 16px;
    font-weight: 700;  
}
.menu li > img{
    margin-left: 60px;
    margin-top: 10px;
    width: 15px;
    height: 22px;
}
.content{
    width: 1768px;
    height: 935px;
}
.content > h1{
    display: grid;
    justify-content: center;
}
@media(max-width: 768px){
    .content > h1{
        margin-left: 12%;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width: 480px){
    .content > h1{
        margin-left: 10%;
        grid-template-columns: repeat(1, 1fr);
    }
}
.text{
    display: grid;
    margin: auto;
    padding: 35px;
    width: 1510px;
    height: 170px;
    background-color: #EFEFEF;
}
@media(max-width: 768px){
    .text{
        margin-right: 50px;
        margin-left: 5px;
        grid-template-rows: repeat(1, 1fr);
    }
}
@media(max-width: 480px){
    .text{
        margin-left: 5px;
        grid-template-rows: repeat(1, 1fr);
    }
}
.text p{
    display: grid;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 270px;
}
@media(max-width: 768px) {
    .text p{
        margin-top: -10px;
        margin-left: -30px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 480px){
    .text p{
        margin-top: -10px;
        margin-left: -20px;
        margin-right: 20%;
        grid-template-columns: repeat(2, 1fr);
    }
}
.column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-left: 92px;
}
@media(max-width: 768px) {
    .column{
        line-height: 18px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .column{
        grid-template-columns: repeat(1, 1fr);
    }
}
.Group1{
    width: 470px;
    height: 252px;
    font-size: 16px;
    font-weight: 400; 
}
.Group1 #heading{
    margin-top: 0px;
    font-weight: 700;
    font-size: 24px;
}
ul{
    margin-top: -15px;
    padding-left: 1px;
    display: flex;
    list-style: none;
}
.footer{
    margin-top: 238px;
    height: 79px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-weight: 400;
    border-top: 1px solid #c2c2c2;
    font-size: 16px;
    color: #3E3E3E;
}