h1 { 
    color: blue;
}

img {
    width: 600px;
    margin-top: 10px;
}
div{
    text-align: center;
    /* background-color: black; */
    /* columns: 2; */
}
#box h2{
    color: aqua;
    text-align: center;
}
div h3{
    color: brown;
}

body{
    background-color: blueviolet;
    border-color: green;
}

